body{
    background-color: grey;
    min-width: 500px;
    font-family: 'Monda', sans-serif;
 }
p {
    font-family: 'Fira Sans', sans-serif;
}
.active{
    font-weight: bold;
    font-size: larger;
}
#photo {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
}
.card{
    max-width: 43%;
    margin: 2em;
    color: white;
}
.home{
    display: none;
}
.experience{
    display: none;
}
.skills{
    display: none;
}
.projects{
    display: none;
}
.resume{
    display:none;
}
.contact{
    display: none;
}
a {
    color: lightgrey;
}
@media screen and (max-width:768px){
    .card{
        min-width: 300px;
        opacity: 0.5;
    }

}


