body{
     background-color: grey;
 }
.active{
    font-weight: bold;
    font-size: larger;
}
#photo {
    /*max-width: 100%;*/
    /*min-width: 1300px;*/
    /*height: auto;*/
    /*min-height: 866px;*/
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
}
.card{
    max-width: 40%;
    margin: 2em;
    color: white;
}
.home{
    display: none;
}
.experience{
    display: none;
}
.skills{
    display: none;
}
.projects{
    display: none;
}
.resume{
    display:none;
}
.contact{
    display: none;
}
a {
    color: lightgrey;
}

