html {
    font-size: 1rem;
}
body {
    background-color: black;
    min-width: 500px;
    font-family: 'Monda', sans-serif;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

.navbar {
    width: 100vw;
}

.active {
    font-weight: bold;
    font-size: larger;
}

#headshot {
    display: none;
    height: auto;
    width: 700px;
    object-fit: cover;
    position: fixed;
    right: 50px;
    top: 100px;
    border-radius: 30px;
}

#keyboard {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: fixed;
    opacity: 0.7;
}

.screenshot {
    width: 30em;
    height: auto;
}

.card {
    margin: 2em;
    color: white;
    border-radius: 10px;
}

.home {
    display: none;
}

.experience {
    display: none;
}

.skills {
    display: none;
}

.projects {
    display: none;
}

.resume {
    display: none;
}

.contact {
    display: none;
}

a {
    color: lightgrey;
}

@media screen and (max-width: 1000px) {
    html{
        font-size: 1.8rem;
    }

    .navbar {
        height: 90px;
    }
    .screenshot{
        width: 25em;
    }
    #otherHeadshot{
        width: 100%;
        height: auto;
        border-radius: 10px;
    }



}


